{% extends "base.html" %}
{% block content %}
<div id="container" style="width:70%; height:700px; margin: 0 auto;">
</div>
{% endblock %}
{% block highcharts %}
        <script src="http://code.highcharts.com/highcharts.js"></script>
{% endblock %}
{% block scripts %}
<script type="text/javascript">
$(function () {
    $('#container').highcharts({
        chart: {
            type: 'bar'
        },
        title: {
            text: 'Top 10 most popular ZIP codes (Daily)',
            style: { "fontSize": "28px", "font-weight":"bold" },
            margin: 20,
        },
        subtitle: {
            text: '{{ time_range }}',
            style: { "fontSize": "18px" }
        },
        xAxis: {
            categories: ['ZIP Codes']
        },
        yAxis: {
            title: {
                text: 'No. of Views'
            }
        },
        series: [
        {% for val in jsonresponse %}
            {
                name: {{ val.yyyymm }},
                data: [{{ val.carcount }}]
            },
        {% endfor %}
        ]
    });
});
</script>
{% endblock %}