<!DOCTYPE html>
<html>

<head>
  <title>TrafficJam</title>
  <meta name="description" content="website description" />
  <meta name="keywords" content="website keywords, website keywords" />
  <meta http-equiv="content-type" content="text/html; charset=windows-1252" />
  <link rel="stylesheet" type="text/css" href="static/style.css" />
  <!-- modernizr enables HTML5 elements and feature detects -->
  <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
  <script type="text/javascript"
    src="https://maps.googleapis.com/maps/api/js?v=3.exp&signed_in=false">
  </script>
  <script type="text/javascript" src="static/map.js"></script>
  <script type="text/javascript" src="static/FullScreenControl.js"></script>
  <script>
    //alert("Cookie is here!");
    function getCookie(cname) {
        var name = cname + "=";
        var ca = document.cookie.split(';');
        for(var i=0; i<ca.length; i++) {
            var c = ca[i];
            while (c.charAt(0)==' ') c = c.substring(1);
            if (c.indexOf(name) == 0) return c.substring(name.length,c.length);
        }
        return "";
    }
    co = getCookie("guid");
    if (co == "") {
        //alert("no cookie");
        var val = parseInt(Math.random() * 10000) + "";
        document.cookie="guid=" + val + "; path=/";
    }
    else {
        //alert(co);
    }
   </script>
</head>

<body>
<div id="main">
  <header style="width: 940px">
    <div id="strapline">
      <div id="welcome_slogan" style="padding-top: 0px;">
      <nav>
          <div id="menubar" style="padding-top: 0px;margin-left: 0px;">
            <ul id="nav" style="width: 900px">
              <li class="current"><a href="/" style="margin-left: 10px;">TrafficJam</a></li>
              <li><a href="https://www.dot.ny.gov/divisions/engineering/technical-services/highway-data-services/hdsb" target="_blank">Download Data</a></li>
              <li><a href="/slideshare" target="_blank">Slideshare</a></li>
                <div id="floating-panel" style="padding-top: 5px;">
                    <button onclick="startStreaming()">Start streaming</button>
                    <button onclick="stopStreaming()">Stop streaming</button>
                </div>
            </ul>
          </div><!--close menubar-->	
        </nav>
      </div><!--close welcome_slogan-->
    </div><!--close strapline-->
  </header>

  <div id="site_content">
    <div id="map-container" style="padding-top: 0px;">
        <div id="map-canvas"></div>
    </div>
    <div id="content">
	<div class="content_item">
	 <footer style="padding-top: 30px;">
	  <span style="float: left; color:#FFF">
	    &nbsp&nbsp&nbsp&nbsp Zach Liu
	  </span>
	  <span style="float: right; color:#FFF">
	    <a href="mailto:zach.z.liu@gmail.com">Email</a>     |
	    <a href="https://github.com/zachliu">Github</a>     |
            <a href="https://www.linkedin.com/in/zachzliu">Linkedin</a>&nbsp&nbsp&nbsp&nbsp
	  </span>
	</footer>
	</div>
      </div><!--close content-->
  </div><!--close site_content-->  	

</div><!--close main-->

</body>
</html>
