<!DOCTYPE html>
<html>

<head>
  <title>TrafficJam</title>
  <meta name="description" content="website description" />
  <meta name="keywords" content="website keywords, website keywords" />
  <meta http-equiv="content-type" content="text/html; charset=windows-1252" />
  <link rel="stylesheet" type="text/css" href="static/style.css" />
  <!-- modernizr enables HTML5 elements and feature detects -->
  <script type="text/javascript" src="static/modernizr-1.5.min.js"></script>
  <script type="text/javascript"
    src="https://maps.googleapis.com/maps/api/js?v=3.exp&signed_in=true">
  </script>
</head>

<body>
<div id="main">
  <header style="width: 940px">
    <div id="strapline">
      <div id="welcome_slogan" style="padding-top: 0px;">
      <nav>
          <div id="menubar" style="padding-top: 0px;margin-left: 0px;">
            <ul id="nav" style="width: 900px">
              <li><a href="/" style="margin-left: 10px;">TrafficJam</a></li>
              <li><a href="https://www.dot.ny.gov/divisions/engineering/technical-services/highway-data-services/hdsb" target="_blank">Download Data</a></li>
              <li class="current"><a href="/slideshare" target="_blank">Slideshare</a></li>
	      <li><a href="/demo" target="_blank">Video</a></li>
            </ul>
          </div><!--close menubar-->	
        </nav>
      </div><!--close welcome_slogan-->
    </div><!--close strapline-->
  </header>

  <div id="site_content">
    <div id="content">
      <div class="content_item" style="text-align:center;height: 600px;">
	<div id="slide-container" style="align: center">
        <iframe src="//www.slideshare.net/slideshow/embed_code/key/4qTmJsIXHeDdQ2" width="940" height="600" frameborder="0" marginwidth="0" marginheight="0" scrolling="no" style="border:1px solid #CCC; border-width:1px; margin-bottom:5px; max-width: 100%;" allowfullscreen> </iframe> <div style="margin-bottom:5px"> <strong></div>
        </div>
	</div>
     <div class="content_item">

	<footer>
	  <span style="float: left; color:#FFF">
	    &nbsp&nbsp&nbsp&nbsp Zach Liu
	  </span>
	  <span style="float: right; color:#FFF">
	    <a href="mailto:zach.z.liu@gmail.com">Email</a>     |
	    <a href="https://github.com/zachliu">Github</a>     |
            <a href="https://www.linkedin.com/in/zachzliu">Linkedin</a>&nbsp&nbsp&nbsp&nbsp
	  </span>
	</footer>
	</div>
      </div><!--close content-->
  </div><!--close site_content-->  	

</div><!--close main-->

<!-- javascript at the bottom for fast page loading -->
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
</body>
</html>
